@font-face {
  font-family: 'Gilroy';
  src: url('Gilroy-Regular.eot');
  src: local('Gilroy Regular'), local('Gilroy-Regular'), url('Gilroy-Regular.eot?#iefix') format('embedded-opentype'),
    url('Gilroy-Regular.woff') format('woff'), url('Gilroy-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('Gilroy-Bold.eot');
  src: local('Gilroy Bold'), local('Gilroy-Bold'), url('Gilroy-Bold.eot?#iefix') format('embedded-opentype'),
    url('Gilroy-Bold.woff') format('woff'), url('Gilroy-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

html,
body {
  font-family: 'Gilroy', sans-serif;
  font-style: normal;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.txt {
  font-weight: normal;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  text-transform: uppercase;
  color: black;
  margin: 0 0 20px 0;
}
.txt span::before {
  content: '\A';
  white-space: pre;
}
.txt.bold {
  font-weight: bold;
}

.row {
  display: flex;
  flex-direction: row;
}

#container {
  margin-top: 50px;
  flex-direction: column;
  align-items: center;
  background-color: white;
  min-height: 100%;
  display: flex;
}

#illustration {
  position: relative;
  left: -10px;
  margin-top: 50px;
  overflow: visible;
  height: 100%;
  transform: translateZ(0);
}

.label {
  width: 120px;
  display: flex;
  align-items: end;
  justify-content: center;
}

#counter-box {
  position: relative;
  top: -136px;
}

#counter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 290px;
  height: 101px;
  margin: 0 38px;
  border: 5px solid #f6ad32;
  border-radius: 54px;
  padding: 0 24px;
}

#demo {
  font-weight: bold;
  font-size: 50px;
  text-align: center;
  color: black;
  width: 200px;
  font-family: 'Roboto Condensed', sans-serif;
}

#button-container {
  margin-top: -80px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 320px;
  height: 88px;
  background: #f6ad32;
  border-radius: 18px;
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease;
}
#button:hover {
  background: #ffc25a;
  box-shadow: 0px 12px 12px rgba(0, 0, 0, 0.15);
  transition: all 0.2s ease;
}
#button:active {
  background-color: #f6ad32;
  box-shadow: none;
  transform: translateY(3px);
}
